# Security (NEVER PUSH THESE)
.env
.env.*

# Databases
*.db
*.sqlite3

# Python Virtual Environments & Cache
__pycache__/
venv/
env/
.pytest_cache/

# Node.js (Frontend dependencies)
node_modules/
dist/
build/

# OS Files
.DS_Store
Thumbs.db